.videoList{
	margin-top:20px;
	background: #fff;
	box-shadow: 0 0 8px;
	padding: 20px;
}
.videoListItem{
	padding: 20px 0;
	.media-body{
		padding:10px;
	}
	.media-heading{
		cursor: pointer;
		&:hover{
			color:red;
		}
	}
}